.about {
    background-color: #f8f8f8;
    text-align: center;
    background-color: aqua;
}

.about p {
    max-width: 800px;
    margin: 10px auto;
    font-size: 17px;
    line-height: 1.6;
}
