.menu {
    background-color: #fffaf0;
}

.menu-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.menu-card {
    background-color: #2b0000;
    color: white;
    width: 280px;
    padding: 20px;
    border-radius: 10px;
}

.menu-card h3 {
    color: #ffb703;
    margin-bottom: 15px;
    text-align: center;
}

.menu-card ul {
    list-style: none;
}

.menu-card ul li {
    padding: 6px 0;
    border-bottom: 1px solid #555;
}
